<div class="row">
<div class="col-md-5">
<h3>Lorem 1</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non tellus mi. Proin quis fringilla metus. Praesent iaculis ante id turpis molestie, at dictum sapien tristique. Aenean eget posuere justo. Donec ex velit, efficitur a feugiat nec, semper ut turpis. Ut venenatis arcu id euismod pretium. Sed at eros aliquam, fringilla ex sit amet, semper velit. Vivamus maximus ante tristique nisi cursus, eu pulvinar risus mollis. Ut leo ligula, elementum eu mauris at, fringilla tincidunt nunc.


</p>
</div>
<div class="col-md-5">
</div>
<h3>Lorem 2</h3>
<p>Suspendisse efficitur mi eu erat imperdiet, ac laoreet elit ultrices. Donec quis velit ut dolor blandit ornare congue in urna. Pellentesque luctus nulla pharetra ex mattis, sit amet convallis est viverra. Donec sodales risus non luctus tincidunt. Sed quis tincidunt orci. Praesent vel ante in lorem volutpat lobortis eu ut tortor. Donec tempus vulputate sapien nec accumsan. Nullam ut elementum nulla. In id lorem convallis eros consequat fringilla. Nam sit amet purus sed orci fringilla tempus. Mauris nec congue nibh, in malesuada nisl. Nulla pharetra eleifend dapibus. Nam sit amet nisl erat. Aliquam lobortis 

</p>
<div>